html{
	width:210px;
	height:110px;
}
#donate_button{
	width: 40%;
}

#rate_us{
border:2px solid;
border-radius:25px;
width: 40%;
text-align: center;
background: linear-gradient(yellow, white);
visibility:hidden;
}